  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

.number-cell {
    text-align: right;
}
.toolbar {
    width: 100%;
    background-color: 	white;
    position:fixed;
    top:50px !important;
    z-index: 90;
    min-height:46px;
    box-shadow: 0px 0px 8px 0px #686868;
}

  .widgetContainer {
    float: left;
    margin-top:10px;
    width:calc(100vw - 75px - ((33.25px)*3)); //75px being the "back" button and 33.25 being the left and right arrows
    overflow: hidden; //hides the scrollbar that would otherwise appear in IE and Firefox
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .widgetContainer {
      button{
        margin-right:8px;
        margin-bottom:8px;
        border:none;
        cursor: pointer;
        color: #1279C0;
        background-color:#fff;
        font-size:0.86rem;
        font-weight:bold;
        padding:4px 8px;
      }
      button:hover{
        border-radius:5px;
        background-color: #F5F5F5;
        box-shadow: 1px 1px 2px 0px #686868;
      }
  }

  #LwidgetScrollBtn{
      float:left;
      height:46px;
      background-color:#fff;
      border-right:1px #808080 solid;
      color: #808080;
      font-size:16pt;
      margin-right:8px;
  }

  #RwidgetScrollBtn{
    float:right;
    height:46px;
    background-color:#fff;
    border-left:1px #808080 solid;
    color: #808080;
    font-size:16pt;
    margin-left:8px;
  }

  #toolbarBackBtn{
      height:46px;
      background-color:#fff;
      float:left;
  }

  #toolbarBackBtn::after{
    content: "";
    clear: both;
    display: table;
  }


div.details-control {
    background: url('../../resources/plus-solid.svg') no-repeat center center;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size:10pt;
    width:22px;
    height:22px;
}

tr.shown td div.details-control {
    background: url('../../resources/chevron-up-solid.svg') no-repeat center center;
    border-radius: 5px;
    color:white;
    font-size:10pt;
}

.hideParentRow {
    visibility: collapse;
}

.clientTable{
     width:96% !important;
     margin: 0 auto;
}

td, th{
    font-size:9pt;
}

/*NOTE ON COLUMN WIDTHS*/
/*For tables, min-width works, but use just width instead of max-width*/

.buttonColumn{
    width:25px;
    min-width:25px;
 }
 .clientColumn{
     width:90px;
     min-width:90px;
     text-align:right;
 }
 .descriptionColumn{
     min-width:185px;  /*Added 10px compared to list level due to missing code-desc-buffer column*/
     width:425px
 }
 .tableSmallColumns{
     min-width:55px;
     text-align:center;
 }

/*****************************************/
/*Resizing of toolbar button options **rework using sass/linear regression*/
/*****************************************/
// @media screen and (max-width: 1000px) {
//     .widgetContainer {
//         width: 80%;
//     }
// }
//   @media screen and (max-width: 825px) {
//     .widgetContainer {
//         width: 75%;
//     }
// }
// @media screen and (max-width: 725px) {
//     .widgetContainer {
//         width: 72%;
//     }
// }
// @media screen and (max-width: 650px) {
//     .widgetContainer {
//         width: 70%;
//     }
// }
// @media screen and (max-width: 550px) {
//     .widgetContainer {
//         width: 65%;
//     }
// }
// @media screen and (max-width: 475px) {
//     .widgetContainer {
//         width: 58%;
//     }
// }
// @media screen and (max-width: 400px) {
//     .widgetContainer {
//         width: 50%;
//     }
// }
// @media screen and (max-width: 350px) {
//     .widgetContainer {
//         width: 40%;
//     }
// }
