@import '~src/appTheme.scss';
$itemHeight: 42px;
  

.widgetContainer {
  float: left;
  margin-top:6px;
  width:calc(100vw - 75px - ((26px)*2)); //75px being the "back" button and 26 being the left and right arrows dom-defined width
  overflow: hidden; //hides the scrollbar that would otherwise appear in IE and Firefox
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
    button{
      margin: 0px 2px 8px 2px;
      border:none;
      cursor: pointer;
      color: $color-blue-default;
      background-color:$color-white;
      font-size:0.86rem;
      font-weight:bold;
      padding:4px 8px;
      &:hover{
        border-radius:5px;
        background-color: $color-whitesmoke;
        box-shadow: 1px 1px 2px 0px $color-dovegray;
      }
 
    }
}

.returnsToolbarScrollBtn{
  height:$itemHeight;
  background-color:$color-white;
  color: $color-gray;
  font-size:18pt;
  padding: 4px 0px;
}

#LwidgetScrollBtn{
    float:left;
    border-right:1px $color-gainsboro solid;

}

#RwidgetScrollBtn{
  float:right;
  border-left:1px $color-gainsboro solid;

}

#toolbarBackBtn{
    height:$itemHeight;
    background-color:$color-white;
    float:left;
    width:75px;
    i{
      margin-top:6px;
    }
    span{
      float:right;
      margin-top:6px;    
    }
}

#toolbarBackBtn::after{
  @include clearfix;
}