<button id="toolbarBackBtn" class="btn btn-sm" [disabled]="true">
  <i class="material-icons">chevron_left</i>
  <span>Back</span>
</button>
<div>
  <button *ngIf="mobileStatus" id="LwidgetScrollBtn" class="returnsToolbarScrollBtn btn btn-sm material-icons" (click)="scrollLeft()">
    chevron_left
  </button>
  <div #widgetContent class="widgetContainer">
    <button>Donor Lookup</button>
    <button>Format</button>
    <button>Inception Year</button>
    <button>List Conversion</button>
    <button>List Performance</button>
    <button>New Donor</button>
    <button>Recency</button>
  </div>
  <button *ngIf="mobileStatus" id="RwidgetScrollBtn" class="returnsToolbarScrollBtn btn btn-sm material-icons" (click)="scrollRight()">
    chevron_right
  </button>
</div>