$itemHeight: 42px;
  

.widgetContainer {
  float: left;
  margin-top:6px;
  width:calc(100vw - 75px - ((26px)*2)); //75px being the "back" button and 26 being the left and right arrows dom-defined width
  overflow: hidden; //hides the scrollbar that would otherwise appear in IE and Firefox
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
    button{
      margin: 0px 2px 8px 2px;
      border:none;
      cursor: pointer;
      color: #1279C0;
      background-color:#fff;
      font-size:0.86rem;
      font-weight:bold;
      padding:4px 8px;
      &:hover{
        border-radius:5px;
        background-color: #F5F5F5;
        box-shadow: 1px 1px 2px 0px #686868;
      }
 
    }
}

.returnsToolbarScrollBtn{
  height:$itemHeight;
  background-color:#fff;
  color: #808080;
  font-size:18pt;
  padding: 4px 0px;
}

#LwidgetScrollBtn{
    float:left;
    border-right:1px #DCDCDC solid;

}

#RwidgetScrollBtn{
  float:right;
  border-left:1px #DCDCDC solid;

}

#toolbarBackBtn{
    height:$itemHeight;
    background-color:#fff;
    float:left;
    width:75px;
    i{
      margin-top:6px;
    }
    span{
      float:right;
      margin-top:6px;    
    }
}

#toolbarBackBtn::after{
  content: "";
  clear: both;
  display: table;
}