@import '~src/appTheme.scss';


.dictionaryContent {
    width:100%;
    padding-top:25px;
    margin: 0 auto;
    -moz-column-width: 20em; /*Multi-columns Firefox */
    -webkit-column-width: 20em; /*Multi-columns webkit, Safari, Chrome */
    column-width: 20em; /*Multi-columns*/
}

.dictionary{
    li{
        float: none;
        display: inline-block;
        width:20em;
        margin-bottom: 5px;
        font-size: 11pt;
        padding: 0;
        border-radius:5px;
        a{
            color:$color-mineshaft;
            text-decoration: none;
            display: block;
            padding: 5px 0px 5px 5px;
        }
    }
    li:hover{
        background-color: $color-whitesmoke;
        box-shadow: 1px 1px 2px 0px $color-dovegray;
        cursor: pointer;
    }
}

.fullPage{
    padding: 0px 20px;
}

/*<><><><><><><><>*/
/*Button Settings Start*/
#toolboxBtn{
  top: 92px;
  border-radius:0 0 0 0.25rem !important;
}

.toolboxButtonCollection{
  @include toolboxBtnCollMain;
  &.btnShifted{
    @include toolboxBtnCollShifted;
  }
  i{
    font-size:20px;
    margin:auto;
  }
}
/*Button Settings End*/
/*<><><><><><><><>*/


.toolbox{
  @include toolboxBase;
}
.toolboxScrollContainer{
  @include toolboxScrolling;
}
.psuedoClearfix {
  @include toolboxClearfix;
}

.toolbox.shifted{
  @include toolboxShifted;
}

.hidden{
  display: none;
}