<app-toolbar></app-toolbar>
<br>
<div class="container">
  <mat-card class="mat-elevation-z8">
    <br>
    <h4>Create Whitemail</h4>
    <br>
    <ul>
      <li *ngFor="let element of whitemailArr">
        <div class="row">
          <div class="col-lg-11 objectColumn">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field appearance="outline" class="mainInputBox">
                  <mat-label>Client</mat-label>
                  <input required aria-label="Number" matInput [formControl]="element.ClientControl" [matAutocomplete]="auto"
                    [(ngModel)]="element.Client" #client>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let client of filteredClientList | async" [value]="client">
                      {{client}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matSuffix class="dropdownIcon">arrow_drop_down</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <!-- Set the "value" (aka the starting value via the ngModel. Using the ngModel because that way it also updates the whitemailElement object-->
                <mat-form-field appearance="outline" class="mainInputBox">
                  <mat-label>Cage Date</mat-label>
                  <input required matInput [matDatepicker]="CageDatePick" (dateInput)="changeDate($event)"
                    [(ngModel)]="element.DateCaged">
                  <mat-datepicker-toggle matSuffix [for]="CageDatePick"></mat-datepicker-toggle>
                  <mat-datepicker #CageDatePick>
                  </mat-datepicker>
                  <!-- (dateInput)="validateDate($event)" -->
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                <mat-form-field appearance="outline" class="mainInputBox">
                  <mat-label>Non-Donors</mat-label>
                  <input required matInput placeholder="Non-donors" [(ngModel)]="element.NonDonors">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Cash Donors</mat-label>
                      <input required matInput [(ngModel)]="element.CashDonors">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Cash Amount</mat-label>
                      <span matPrefix>$</span>
                      <input required matInput [ngModel]="element.CashAmount|number:'1.2-2'" (blur)="updateElement($event, 'cash', element)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Check Donors</mat-label>
                      <input required matInput [(ngModel)]="element.CheckDonors">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Check Amount</mat-label>
                      <span matPrefix>$</span>
                      <input required matInput [ngModel]="element.CheckAmount|number:'1.2-2'" (blur)="updateElement($event, 'check', element)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Card Donors</mat-label>
                      <input required matInput [(ngModel)]="element.CardDonors">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="mainInputBox">
                      <mat-label>Card Amount</mat-label>
                      <span matPrefix>$</span>
                      <input required matInput [ngModel]="element.CardAmount|number:'1.2-2'" (blur)="updateElement($event, 'card', element)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 buttonColumn">
            <div class="row">
              <div class="col-lg-12">
                <button mat-icon-button matTooltip="Delete row" [matTooltipShowDelay]="1000" [matTooltipHideDelay]="200"><i
                    class="material-icons" (click)="deleteRow(element)">delete</i></button>
              </div>
              <div class="col-lg-12">
                <button mat-icon-button matTooltip="Add new row" [matTooltipShowDelay]="1000" [matTooltipHideDelay]="200"
                  *ngIf="element.isLast" (click)="addWMRow()"><i class="material-icons">add_box</i></button>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </li>
    </ul>

    <div class="btnContainer">
      <button id="submitBtn" mat-raised-button (click)="addWhitemail()">Submit</button>
    </div>
  </mat-card>
</div>



<div id="modalBackground" *ngIf="showSubmittedModal">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="mat-elevation-z8 submitModalCard">
          <div>
            <div class="row">
              <div class="col-12 cancelDiv">
                <button mat-icon-button id="modalCancelBtn" (click)="modalCancel()"><i class="material-icons">cancel</i></button>

              </div>
              <div class="col-12 bannerDiv">
                <i class="material-icons bannerIcon">check_circle_outline</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12 updatedDiv">
                <span class="updatedMsg">{{WMMessage}} Added!</span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 addMoreDiv">
                <br>
                <button mat-raised-button (click)="modalCancel()" id="modalMoreBtn">Add more</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>