#logoNavBtn{
    margin-left:10px;
    text-decoration:none;
    padding: 7px 20px 6px 20px;
    border-radius:5px;
    font-size:1.2rem;
}

#spanSD{
    color: #1279C0;  
}

#span360{
    color: white;
}

.topnav {
    background-color: #333;
    padding:0;
    min-height: 50px !important;
}

.mainNavItem{
    margin-left:10px;
}

.mainNavItem > a{
    color:white;
}

#navbarSupportedContent{
    margin-left: 10px;
}

#navBarToggleBtnSpan{
    color:white;
}

.navbarBtn{
    background-color:#333;
    color:white;
    font-size:0.9rem;
}

.navbarDropdownBtn{
    padding-top:6px;
    padding-bottom:6px;
}

#navBarToggleBtn{
    color:white;
}

/*<><><><><> HOVER START<><><><><>*/
#logoNavBtn:hover {
    background-color: white;
    transform: scale(1.0);
    transition: all 500ms;
}
#logoNavBtn:hover #span360{
    color:#1279C0;
}
#logoNavBtn:hover #spanSD{
    color:#333;
}
.mainNavItem:hover > .navbarDropdownMenu{
    display:block;
    margin-left:-6px;
    margin-top:0px;
}
.mainNavItem:hover .navbarBtn{
    background:#1279C0; 
    transition: all 500ms;
    transform: scale(1.1);
 }

 .navbarDropdownMenu > .dropdown-item:hover{
    background-color:#DCDCDC;
 }
/*<><><><><> HOVER END <><><><><>*/


/*<><><><><> TABLET AND PHONE START <><><><><>*/
@media screen and (max-width: 992px) {
    .navbarBtn{
        width:100%;
    }
    .navbarDropdownMenu{
        width:100%;
    }
    .navbarDropdownMenu > a{
        width:100%;
    }
    .mainNavItem{
        margin:0;
    }
    .mainNavItem:hover > .navbarDropdownMenu{
        margin:0;
    }
    #navbarSupportedContent{
        margin-left: 0px;
    }
}
/*<><><><><> TABLET AND PHONE END <><><><><>*/
