<nav class="topnav navbar navbar-expand-lg fixed-top">
  <a id="logoNavAnchor" routerLink="homepage"><span id="spanSD"><b>SD</b></span><span id="span360"><b>360</b></span></a>
  <button class="navbar-toggler active" id="navBarToggleBtn" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mainNavItem">
        <button routerLink="returns" class="btn navbarBtn">Reporting</button>
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Production</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Account Management</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Accounting</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Utilities</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">User</button>
        </li>

        <!--*************************-->
        <!--This is a working dropdown button similar in style to the current buttons on the home page - do not delete-->
        <!--*************************-->
      <!-- <li class="nav-item dropdown mainNavItem">
        <button id="navbarDropdown" class="btn navbarDropdownBtn navbarBtn nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu navbarDropdownMenu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>