<nav class="topnav navbar navbar-expand-lg fixed-top">
  <a id="logoNavAnchor" (click)="NavigateToHome()"><span id="spanSD"><b>SD</b></span><span id="span360"><b>360</b></span></a>
  <button class="navbar-toggler active" id="navBarToggleBtn" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons mi_drag_handle"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mainNavItem">
        <button  class="btn navbarBtn" (click)="NavigateToReturns()">Reporting</button>
        <!-- routerLink="returns" -->
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Production</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Account Management</button>
        </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Accounting</button>
        </li>
        <!-- <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">Utilities</button>
        </li> -->
              <li class="nav-item dropdown mainNavItem">
        <button id="navbarDropdown" class="btn navbarDropdownBtn navbarBtn nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utilities</button>
        <div class="dropdown-menu navbarDropdownMenu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="NavigateToWhitemail()">Client Whitemail</a>
          <a class="dropdown-item" (click)="NavigateToNewWhitemail()">Add Whitemail</a>
          <a class="dropdown-item" (click)="NavigateToLRI()">Client LRI</a>
          <a class="dropdown-item" (click)="NavigateToNewLRI()">Add LRI</a>
          <a class="dropdown-item" (click)="NavigateToIncidentals()">Client Incidentals</a>
          <a class="dropdown-item" (click)="NavigateToNewIncidentals()">Add Incidentals</a>
          <a class="dropdown-item" (click)="NavigateToNewCaging()">Add Caging</a>
          <a class="dropdown-item" (click)="NavigateToCagingCalendar()">Caging Calendar</a>
          <a class="dropdown-item" (click)="NavigateToExceptions()">Caging Exceptions</a>
          <a class="dropdown-item" (click)="NavigateToUploadPDF()">Upload Letters</a>

          </div>
  
      </li>
        <li class="nav-item mainNavItem">
          <button title="Under Construction" disabled="true" class="btn navbarBtn">User</button>
        </li>

        <!--*************************-->
        <!--This is a working dropdown button similar in style to the current buttons on the home page - do not delete-->
        <!--*************************-->
      <!-- <li class="nav-item dropdown mainNavItem">
        <button id="navbarDropdown" class="btn navbarDropdownBtn navbarBtn nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu navbarDropdownMenu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>