<app-toolbar></app-toolbar>
<mat-card id="internalHomeMC">
    <mat-tab-group (selectedTabChange)="GetArchived($event)" color="accent">
        <mat-tab label="Active">
            <div class='dictionaryContent'>
                <ul class='dictionary'>
                    <li *ngFor="let client of ClientArr" class="clientNameLI"><a routerLink='/returns/{{client?.gClientAcronym}}'>{{
                            client?.gClientName }}</a></li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Archived">
            <div class='dictionaryContent'>
                <ul class='dictionary'>
                    <li *ngFor="let client of ClientArr" class="clientNameLI"><a routerLink='/returns/{{client?.gClientAcronym}}'>{{
                            client?.gClientName }}</a></li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="By Year">
            <ng-template mat-tab-label>
                <button mat-button [matMenuTriggerFor]="menu">By Year {{selectedYear }}
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="GetArchivedYear($event); setYear($event)">2016</button>
                    <button mat-menu-item (click)="GetArchivedYear($event); setYear($event)">2017</button>
                    <button mat-menu-item (click)="GetArchivedYear($event); setYear($event)">2018</button>
                </mat-menu>
            </ng-template>
            <div class='dictionaryContent'>
                <ul class='dictionary'>
                    <li *ngFor="let client of ClientArr" class="clientNameLI"><a routerLink='/returns/{{client?.gClientAcronym}}'>{{
                            client?.gClientName }}</a></li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="By Year"></mat-tab>
    <mat-tab label="By Year"></mat-tab>
    <mat-tab label="By Year"></mat-tab>
    </mat-tab-group>
    
</mat-card>




<!-- <div id="dictionaryHeader">

        <div class="btn-group">
            <button type="button" name="options" class="btn btn-primary" [ngClass]="{'active': selectedItem === 1}" (click)="GetArchived('2018'); setSelectedItem(1)">Live</button>
            <button type="button" name="options" class="btn btn-primary" [ngClass]="{'active': selectedItem === 2}" (click)="GetArchived('ALL'); setSelectedItem(2)">Archived</button>
            <button type="button dropdown" name="options" id="ByYearId" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" [ngClass]="{'active': selectedItem === 3}" (click)="setSelectedItem(3)">
                By Year {{ selectedYear }}
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="GetArchived(2016); setYear($event)">2016</a></li>
                <li><a class="dropdown-item" (click)="GetArchived(2017); setYear($event)">2017</a></li>
                <li><a class="dropdown-item" (click)="GetArchived(2018); setYear($event)">2018</a></li>
            </ul>
        </div>
    </div>
    <div class='dictionaryContent'>
        <ul class='dictionary'>
            <li *ngFor="let client of ClientArr" class="clientNameLI"><a routerLink='/returns/{{client?.gClientAcronym}}'>{{
                    client?.gClientName }}</a></li>
        </ul>
    </div> -->