<div class="toolbar">
  <div id="alphabetToolbar" class="col-md-12">
    <ul class="alphabet nav nav-pills">
      <li class="nav-item" id="showAllClientsLi">
        <a class="nav-link" data-toggle="pill">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">#</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">C</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">D</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">E</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">F</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">G</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">H</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">I</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">J</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">K</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">L</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">M</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">N</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">O</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">P</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">Q</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">R</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">S</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">T</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">U</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">V</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">W</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">X</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">Y</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill">Z</a>
      </li>
      <li id="alphabetResult"></li>
    </ul>
  </div>
</div>

  <div class="mainContent">
    <div id="dictionaryHeader">

        <div class="btn-group">
            <button type="button" class="btn btn-primary">Live</button>
            <button type="button" class="btn btn-primary">Cached</button>
            <button type="button" class="btn btn-primary">Active w/Archived</button>
            <button type="button" class="btn btn-primary">Inactive</button>
            <div class="btn-group dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 By Year
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">2018</a>
                <a class="dropdown-item">2017</a>
                <a class="dropdown-item">2018</a>
              </div>
            </div>
          
          </div>

          <!-- <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div> -->


      <!-- <div class="reportEntranceType">Live Data</div>
      <div class="reportEntranceType">Cached</div>
      <div class="reportEntranceType">Active w/Archived Phases</div>
      <div class="reportEntranceType">Inactive</div>
      <ul class="dropdown-menu" id="YearDropdownMenu">By Calendar Year<span
          <li>2018</li>
          <li>2017</li>
          <li>2016</li>
        </ul> -->


      <!-- <ul class="nav nav-pills" id="reportMenuPills">
        <li class="dictionaryTimeHeader nav-item" >
          <a data-toggle="pill">Live Data</a>
        </li>
        <li class="dictionaryTimeHeader nav-item">
          <a data-toggle="pill">Cached Reports</a>
        </li>
        <li class="dictionaryTimeHeader nav-item">
          <a data-toggle="pill">Active w/ Archived Phases</a>
        </li>
        <li class="dictionaryTimeHeader nav-item">
          <a data-toggle="pill">Inactive</a>
        </li>
        <li class="dictionaryTimeHeader dropdown nav-item">
          <a class="dropdown-toggle" id="yearDropdown" data-toggle="dropdown">By Calendar Year
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" id="pillYearDropdownMenu">
            <li>
              <a data-toggle="pill">2018</a>
            </li>
            <li>
              <a data-toggle="pill">2017</a>
            </li>
            <li>
              <a data-toggle="pill">2016</a>
            </li>
          </ul>
        </li>
      </ul> -->
    </div>

<div class='dictionaryContent'>
<ul class='dictionary'>
    <li *ngFor="let client of ClientArr" class="clientNameLI"><a routerLink='/returns/{{client?.gClientAcronym}}'>{{ client?.gClientName }}</a></li>
</ul>
</div>

    <!-- <div class='dictionaryContent'>
      <ul class='dictionary'>
        <li *ngFor="let client of ClientArr" class="clientNameLI">
          <a #dictionaryItem>{{ client?.gClientName }}</a>
        </li>
      </ul>
    </div> -->
</div>

<!-- <p> {{ tokenParam?.access_token }} </p> -->
<!-- <table>
      <tr *ngFor="let client of ClientArr">
        <td> {{ client.gClientAcronym }} </td>
        <td> {{ client.gClientName }} </td>
      </tr>
    </table> -->