/*********************************************************************/
/*This file contains the css styling for internal home page/dashboard*/
/*********************************************************************/

.dictionaryContent {
    width:100%;
    padding-top:25px;
    margin: 0 auto;
    -moz-column-width: 20em; /*Multi-columns Firefox */
    -webkit-column-width: 20em; /*Multi-columns webkit, Safari, Chrome */
    column-width: 20em; /*Multi-columns*/
}

#internalHomeMC{
    width:96%;
    margin: auto;
}

.dictionary{
    li{
        float: none;
        display: inline-block;
        width:25em;
        margin-bottom: 5px;
        font-size: 11pt;
        padding: 0;
        border-radius:5px;
        a{
            color:#333;
            text-decoration: none;
            display: block;
            padding: 5px 0px 5px 5px;
        }
    }
    li:hover{
        background-color: #F5F5F5;
        box-shadow: 1px 1px 2px 0px #686868;
        cursor: pointer;
    }
}
