/*********************************************************************/
/*This file contains the css styling for internal home page/dashboard*/
/*********************************************************************/

.dictionaryContent {
    width:100%;
    padding-top:25px;
    margin: 0 auto;
    -moz-column-width: 20em; /*Multi-columns Firefox */
    -webkit-column-width: 20em; /*Multi-columns webkit, Safari, Chrome */
    column-width: 20em; /*Multi-columns*/
}

// #dictionaryHeader {
//     width: 92%;
//     margin: auto;
//     // padding-top: 120px; 
//     border-bottom: 3px solid #eee;
// }

#internalHomeMC{
    width:96%;
    margin: auto;
}

.dictionary{
    li{
        float: none;
        display: inline-block;
        width:25em;
        margin-bottom: 5px;
        font-size: 11pt;
        padding: 0;
        border-radius:5px;
        a{
            color:#333;
            text-decoration: none;
            display: block;
            padding: 5px 0px 5px 5px;
        }
    }
    li:hover{
        background-color: #F5F5F5;
        box-shadow: 1px 1px 2px 0px #686868;
        cursor: pointer;
    }
}
// #alphabetResult {
//     margin: 4px 0px 0px 4px;
// }
/*<><><><> Alphabetical Settings End <><><><>*/


/*<><><><><> TABLET AND PHONE START <><><><><>*/
// @media screen and (max-width: 900px) {
//     // .dictionaryTimeHeader {
//     //     width: 49%;
//     // }

//     // #dictionaryHeader > span {
//     //     width: 100%;
//     // }
//     // #dictionaryHeader {
//     //     padding-top: 114px;
//     // }
//     #internalHomeMC{
//         margin-top:140px;
//     }
// }

// @media screen and (max-width: 600px) {
//     // .dictionaryTimeHeader {
//     //     width: 100%;
//     // }
//     // #dictionaryHeader {
//     //     padding-top: 130px;
//     // }
//     #internalHomeMC{
//         margin-top:155px;
//     }
// }
// @media screen and (max-width: 500px) {
//     // #dictionaryHeader {
//     //     padding-top: 154px;
//     // }
//     #internalHomeMC{
//         margin-top:170px;
//     }
// }

// @media screen and (max-width: 350px) {
//     // #dictionaryHeader {
//     //     padding-top: 174px;
//     // }
// }
/*<><><><><> TABLET AND PHONE END <><><><><>*/
