#alphabetToolbar {
    text-align: center;
    top:6px;
}

.alphabet{
    display: inline-table;
    margin-bottom:0px;
    list-style: none;
    li{
        font-size: 11pt;
        float: left;
        margin:0px;
        a{
            padding: 4px 8px;
            font-weight: bold;
            cursor: pointer;
            color: #1279C0;
        }
        a:hover{
            background-color: #F5F5F5;
            box-shadow: 1px 1px 2px 0px #686868;
            cursor: pointer;
        }
        a.active.show{
            color:white !important;
        }
        a.active{
            color:white !important;
        }
        a.active.show:hover{
            color:#1279C0 !important;
        }
    }
    li#showAllClientsLi{
        margin-right: 20px;
    }
}


#alphabetSearchBtn{
    // margin-top:3px;
    margin:0 auto;
    margin-top:3px;
    margin-left:10px;
    }

#phoneAlphabet{
    width:280px;
    height:220px;
    padding: 4px 8px;
    ul{
    margin: 0 auto;
    padding: 0;
    background-color:#F8F8F8;
         li{
             height: 36px;
             width:36px;
             list-style: none;
        float:left;
        background-color:#1279C0;
        color: #fff;
        margin:4px;
        font-weight:bold;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
    }
}
    
}