<!-- <><> DESKTOP... See below for Tablet/phone <><>-->
<div id="alphabetToolbar" *ngIf="currentWindowWidth >= 992">
  <ul class="alphabet nav nav-pills">
    <li class="nav-item" id="showAllClientsLi">
      <a class="nav-link active" data-toggle="pill">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">#</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">B</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">C</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">D</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">E</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">F</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">G</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">H</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">I</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">J</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">K</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">L</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">M</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">N</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">O</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">P</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Q</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">R</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">S</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">T</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">U</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">V</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">W</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">X</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Y</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Z</a>
    </li>
  </ul>
</div>


<!-- The toolbar settings for tablet/phone are found in the internal home dashboard - toolbox component-->

<!-- <><> Tablet/Phone Alphabet Settings <><>-->
<ng-container *ngIf="currentWindowWidth < 992">
<button mat-flat-button color="accent" [matMenuTriggerFor]="menu" id="alphabetSearchBtn">{{ alphabetSelection }}</button>
<mat-menu #menu="matMenu">
  <div id="phoneAlphabet" mat-menu-item>
    <ul>
      <li (click)="findAll($event)">All</li>
      <li (click)="findLetter($event)">#</li>
      <li (click)="findLetter($event)">A</li>
      <li (click)="findLetter($event)">B</li>
      <li (click)="findLetter($event)">C</li>
      <li (click)="findLetter($event)">D</li>
      <li (click)="findLetter($event)">E</li>
      <li (click)="findLetter($event)">F</li>
      <li (click)="findLetter($event)">G</li>
      <li (click)="findLetter($event)">H</li>
      <li (click)="findLetter($event)">I</li>
      <li (click)="findLetter($event)">J</li>
      <li (click)="findLetter($event)">K</li>
      <li (click)="findLetter($event)">L</li>
      <li (click)="findLetter($event)">M</li>
      <li (click)="findLetter($event)">N</li>
      <li (click)="findLetter($event)">O</li>
      <li (click)="findLetter($event)">P</li>
      <li (click)="findLetter($event)">Q</li>
      <li (click)="findLetter($event)">R</li>
      <li (click)="findLetter($event)">S</li>
      <li (click)="findLetter($event)">T</li>
      <li (click)="findLetter($event)">U</li>
      <li (click)="findLetter($event)">V</li>
      <li (click)="findLetter($event)">W</li>
      <li (click)="findLetter($event)">X</li>
      <li (click)="findLetter($event)">Y</li>
      <li (click)="findLetter($event)">Z</li>
    </ul>
  </div>
</mat-menu>
</ng-container>