<div id="alphabetToolbar" class="col-md-12">
  <ul class="alphabet nav nav-pills">
    <li class="nav-item" id="showAllClientsLi">
      <a class="nav-link active" data-toggle="pill">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">#</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">B</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">C</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">D</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">E</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">F</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">G</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">H</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">I</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">J</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">K</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">L</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">M</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">N</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">O</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">P</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Q</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">R</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">S</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">T</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">U</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">V</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">W</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">X</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Y</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill">Z</a>
    </li>
    <!-- <li id="alphabetResult"></li> -->
  </ul>
</div>