@import '~src/appTheme.scss';


#alphabetToolbar {
    text-align: center;
    margin-top:6px;
}

.alphabet{
    display: inline-table;
    margin-bottom:0px;
    list-style: none;
    li{
        font-size: 11pt;
        float: left;
        margin:0px;
        a{
            padding: 4px 8px;
            font-weight: bold;
            cursor: pointer;
            color: $color-blue-default;
        }
        a:hover{
            background-color: $color-whitesmoke;
            box-shadow: 1px 1px 2px 0px $color-dovegray;
            cursor: pointer;
        }
        a.active.show{
            color:white !important;
        }
        a.active{
            color:white !important;
        }
        a.active.show:hover{
            color:$color-blue-default !important;
        }
    }
    li#showAllClientsLi{
        margin-right: 20px;
    }
}


#alphabetSearchBtn{
    margin:0 auto;
    margin-top:3px;
    margin-left:10px;
    }

#phoneAlphabet{
    width:280px;
    height:220px;
    padding: 4px 8px;
    ul{
    margin: 0 auto;
    padding: 0;
    background-color:$color-whitesmoke;
         li{
            height: 36px;
            width:36px;
            list-style: none;
            float:left;
            background-color:$color-blue-default;
            color: #fff;
            margin:4px;
            font-weight:bold;
            text-align: center;
            cursor: pointer;
            line-height: 40px; //affects where the letters are inside of the li vertically
    }
}
    
}