<div *ngIf="ListPerformanceArr">
<button (click)='HideList()'> Back </button>
<table mat-table [dataSource]="ListPerformanceArr" matSort (matSortChange)="SortFunction($event, ListPerformanceArr)" multiTemplateDataRows>
  <ng-container matColumnDef="Expand">
    <th mat-header-cell *matHeaderCellDef class="expandBtnColumn"></th>
    <td mat-cell *matCellDef="let element" class="expandBtnColumn">
      <button mat-icon-button (click)="ToggleExpansion(element)" class="returnsExpCollBtn">
        <i class="material-icons" [ngClass]="CollapseListBtn(element) ? 'mi_expand_more' : 'mi_chevron_right'"></i>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef class="expandBtnColumn"> </td>
  </ng-container>
  <ng-container matColumnDef="Client">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Phase">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Phase </th>
    <td mat-cell *matCellDef="let element"> {{element.Phase}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="MailCode">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> MailCode </th>
    <td mat-cell *matCellDef="let element"> {{element.MailCode}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="ExchangeFlag">
    <th mat-header-cell *matHeaderCellDef> FF </th>
    <td mat-cell *matCellDef="let element"> {{element.ExchangeFlag}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Mailed">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Mailed </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Mailed | date:'shortDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="Caged">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Caged </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Caged | date:'shortDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Quantity | number}} </td>
  </ng-container>
  <ng-container matColumnDef="Donors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Don </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Donors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="NonDonors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Non </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.NonDonors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="NewDonors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> New </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.NewDonors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="RSP">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> RSP </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.RSP | percent:'1.0-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="AVG">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> AVG </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.AVG | number:'1.2-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="Gross">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Gross </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Gross | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="Cost">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Cost | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="Net">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Net </th>
    <td mat-cell *matCellDef="let element" [class.negative]="element.Measure.Net < 0">
      {{element.Measure.Net | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="GPP">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> GPP </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.GPP | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="CLM">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> CLM </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.CLM | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="NLM">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> NLM </th>
    <td mat-cell *matCellDef="let element" [class.negative]="element.Measure.NLM < 0">
      {{element.Measure.NLM | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="IO">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> IO </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.IO | number : '1.2-2'}} </td>
  </ng-container>

  <!-- ['Expand','PackageTitle', 'PackageFormat', 'None','None','PackageMailed', 'PackageCaged', 'PackageQuantity', 
  'PackageDonors', 'PackageNonDonors', 'PackageNewDonors', 'PackageRSP', 'PackageAVG', 
  'PackageGross', 'PackageCost', 'PackageNet', 'PackageGPP', 'PackageCLM', 'PackageNLM', 'PackageIO']; -->

    <ng-container matColumnDef="PackageTitle">
      <td mat-cell *matCellDef="let element"> {{element.PackageTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageFormat">
      <td mat-cell *matCellDef="let element"> {{element.PackageFormat}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
    </ng-container>
    <ng-container matColumnDef="None">
      <td mat-cell *matCellDef="let element">  </td>
    </ng-container>
    <ng-container matColumnDef="PackageMailed">
      <td mat-cell *matCellDef="let element"> {{element.PackageMailed | date:'shortDate'}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
    </ng-container>
    <ng-container matColumnDef="PackageCaged">
      <td mat-cell *matCellDef="let element"> {{element.PackageCaged | date:'shortDate'}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
    </ng-container>
    <ng-container matColumnDef="PackageQuantity">
      <td mat-cell *matCellDef="let element"> {{element.PackageQuantity | number}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageDonors">
      <td mat-cell *matCellDef="let element"> {{elementPackageDonors | number}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageNonDonors">
      <td mat-cell *matCellDef="let element"> {{element.PackageNonDonors | number}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageNewDonors">
      <td mat-cell *matCellDef="let element"> {{element.PackageNewDonors | number}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageRSP">
      <td mat-cell *matCellDef="let element"> {{element.PackageRSP | percent:'1.0-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageAVG">
      <td mat-cell *matCellDef="let element"> {{element.PackageAVG | number:'1.2-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageGross">
      <td mat-cell *matCellDef="let element"> {{element.PackageGross | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageCost">
      <td mat-cell *matCellDef="let element"> {{element.PackageCost | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageNet">
      <td mat-cell *matCellDef="let element" [class.negative]="element.PackageNet < 0">
        {{element.PackageNet | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageGPP">
      <td mat-cell *matCellDef="let element"> {{element.PackageGPP | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageCLM">
      <td mat-cell *matCellDef="let element"> {{element.PackageCLM | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageNLM">
      <td mat-cell *matCellDef="let element" [class.negative]="element.PackageNLM < 0">
        {{element.PackageNLM | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="PackageIO">
      <td mat-cell *matCellDef="let element"> {{element.PackageIO | number : '1.2-2'}} </td>
    </ng-container>
    <ng-container matColumnDef="RSPPerformance">
        <td mat-cell *matCellDef="let element"> <i class="material-icons" [ngStyle]="{'color':element.PackageRSP > element.Measure.RSP ? 'red' : 'green' }" [ngClass]="element.PackageRSP > element.Measure.RSP ? 'mi_expand_more' : 'mi_expand_less'"></i></td>
    </ng-container>    
    <ng-container matColumnDef="AVGPerformance">
        <td mat-cell *matCellDef="let element"> <i class="material-icons" [ngStyle]="{'color':element.PackageAVG > element.Measure.AVG ? 'red' : 'green' }" [ngClass]="element.PackageAVG > element.Measure.AVG ? 'mi_expand_more' : 'mi_expand_less'"></i></td>
    </ng-container>    
    <ng-container matColumnDef="IOPerformance">
        <td mat-cell *matCellDef="let element"> <i class="material-icons" [ngStyle]="{'color':element.PackageIO > element.Measure.IO ? 'red' : 'green' }" [ngClass]="element.PackageIO > element.Measure.IO ? 'mi_expand_more' : 'mi_expand_less'"></i></td>
    </ng-container>    

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [ngStyle]="{'background-color':element.Measure.Expanded ? '#e6e6e6' : 'white' }"> </tr>
  <tr mat-row *matRowDef="let child1; columns: packageColumns;" [ngStyle]="{'visibility':child1.Measure.Expanded ? 'visible' : 'collapse' }" style="background-color:#F8F8F8"></tr>
  <tr mat-row *matRowDef="let child2; columns: package2Columns;" [ngStyle]="{'visibility':child2.Measure.Expanded ? 'visible' : 'collapse' }"  style="background-color:#F8F8F8"></tr>
  

</table>
</div>