<button (click)='HideList()'> Back </button>
<table mat-table [dataSource]="ListPerformanceArr" matSort (matSortChange)="SortFunction($event, ListPerformanceArr)" multiTemplateDataRows>
  <ng-container matColumnDef="Expand">
    <th mat-header-cell *matHeaderCellDef class="expandBtnColumn"></th>
    <td mat-cell *matCellDef="let element" class="expandBtnColumn">
      <button mat-icon-button (click)="ToggleExpansion(element)" class="returnsExpCollBtn">
        <i class="material-icons" [ngClass]="CollapseListBtn(element) ? 'mi_expand_more' : 'mi_chevron_right'"></i>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef class="expandBtnColumn"> </td>
  </ng-container>
  <ng-container matColumnDef="Client">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Phase">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Phase </th>
    <td mat-cell *matCellDef="let element"> {{element.Phase}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="MailCode">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> MailCode </th>
    <td mat-cell *matCellDef="let element"> {{element.MailCode}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="ExchangeFlag">
    <th mat-header-cell *matHeaderCellDef> FF </th>
    <td mat-cell *matCellDef="let element"> {{element.ExchangeFlag}} </td>
    <!-- <td mat-footer-cell *matFooterCellDef> Total {{_g.rootReturns[0].Client}} </td> -->
  </ng-container>
  <ng-container matColumnDef="Mailed">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Mailed </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Mailed | date:'shortDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="Caged">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Caged </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Caged | date:'shortDate'}} </td>
  </ng-container>
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Quantity | number}} </td>
  </ng-container>
  <ng-container matColumnDef="Donors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Don </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Donors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="NonDonors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Non </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.NonDonors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="NewDonors">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> New </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.NewDonors | number}} </td>
  </ng-container>
  <ng-container matColumnDef="RSP">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> RSP </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.RSP | percent:'1.0-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="AVG">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> AVG </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.AVG | number:'1.2-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="Gross">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Gross </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Gross | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="Cost">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Cost </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.Cost | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="Net">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Net </th>
    <td mat-cell *matCellDef="let element" [class.negative]="element.Measure.Net < 0">
      {{element.Measure.Net | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
  </ng-container>
  <ng-container matColumnDef="GPP">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> GPP </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.GPP | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="CLM">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> CLM </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.CLM | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="NLM">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> NLM </th>
    <td mat-cell *matCellDef="let element" [class.negative]="element.Measure.NLM < 0">
      {{element.Measure.NLM | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="IO">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> IO </th>
    <td mat-cell *matCellDef="let element"> {{element.Measure.IO | number : '1.2-2'}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="AvgPackageIO">
    <th mat-header-cell *matHeaderCellDef> Package I/O </th>
    <td mat-cell *matCellDef="let element"> {{element.AvgPackageIO | number : '1.2-2'}} </td>
  </ng-container> -->

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element.Measure.Expanded ? 'expanded' : 'collapsed'" [style.height]="element.Measure.Expanded ? 'unset' : '0 !important'">
          <span class="example-element-description-attribution"> {{ element.PackageTitle }} </span>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"> </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>