@import '~src/appTheme.scss';  
$btnColumnShift: 36px;
$selectionColumnShift: 32px;



//Removes padding from all nested tables
::ng-deep table > tbody > tr > td.cdk-column-expandedDetail.mat-column-expandedDetail{
  padding: 0 !important;
}

//controls the most left column of all parent tables, which houses the expand/collapse buttons
::ng-deep table > tbody > tr > td.mat-cell.cdk-column-Expand.mat-column-Expand{
  padding: 0;
  width:$btnColumnShift;
  min-width:$btnColumnShift; //FF and IE
  // background-color:aqua;
}

//Controls material expand/collapse buttons at all levels
.returnsExpCollBtn{
  width:30px;
  height:30px;
  opacity: 0.6;
  &:hover{
    opacity: 0.8;
    color: $color-blue-dark;
  }
  i{
    padding: 0px 0px 10px 0px;
  }
}

.expandBtnColumn{
  border-bottom:none !important;
  border-top:none !important;
}

.sbc{ //selectionBoxColumn
  padding: 0 !important;
  border-bottom:none !important;
  border-top:none !important;
}
.sbcShifted{
  padding: 0 !important;
  border-bottom:none !important;
  border-top:none !important;
  min-width: $selectionColumnShift;
  width: $selectionColumnShift; 
}

//Controls the styling of the rows when they are unchecked by the toggle filter
.selectionBoxUnchecked{
  background-color: $color-very-pale-orange !important;
  &:hover{
  background-color: $color-very-pale-orange !important;
  }
}

.exchangeFlagColumn{
  width: 22px;
  min-width:22px; //FF and IE
}

  table {
    width: 100%;
    //Controls the font sizing in all of the tables
    th{
      font-size:12px !important;
    }
    td{
      font-size:11px;
      }
  }

//Collectively control the row settings and cell settings (set the row height of all the tables)
.mat-row {
  height: auto;
}
.mat-cell {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom:none;
}
tr.mat-header-row{
  height:auto;
}
th.mat-header-cell{
  padding:0;
}
tr.mat-footer-row{
  height:auto;
}
td.mat-footer-cell{
  padding-top:6px;
  padding-bottom:30px;
  font-weight: bold;
  border-bottom:none;
  border-top: 1px solid $color-gainsboro;
}

//Controls hover and selected for the rows
tr.example-element-row:hover {
  background: #e3eff7 !important;
  td{
    .returnsExpCollBtn{
      background-color:$color-whitesmoke !important;
    }
  }
}

//Controls color of negative values on table
.negative {
  color: red;
}

#L2Header{
  text-align: center;
  color: $color-blue-default;
}

.dPackageInfoHeader{
  width:100%;
  text-align: center;
  font-weight: bold !important;
  color: $color-blue-dark;
}

.dPackageInfo{
  width:100%;
  text-align: center;
}




// <><><><><><><><><><><><><><><><><><><><><>
//<><><><><> TOOLBOX SETTINGS START <><<><><>
/*<><><><><><><><>*/
/*Button Settings Start*/
#toolboxBtn{
  top: 92px;
  border-radius:0 0 0 0.25rem !important;
}

#demoToolboxBtn{
  top: 124px;
  border-radius:0.25rem 0 0 0.25rem !important;
}

.toolboxButtonCollection{
  @include toolboxBtnCollMain;
  &.btnShifted{
    @include toolboxBtnCollShifted;
  }
  i{
    font-size:20px;
    margin:auto;
  }
}
/*Button Settings End*/
/*<><><><><><><><>*/

.toolbox{
  @include toolboxBase;
}
/*In order to not have two scrollbars you need to put the inner elements to scroll and the parent to not scroll*/
.toolboxScrollContainer{
  @include toolboxScrolling;
}
.psuedoClearfix {
  @include toolboxClearfix;
}

.toolbox.shifted{
  @include toolboxShifted;
}

.hidden{
  display: none;
}

.tbElement{
  width:90%;
  margin-left:5%;
}

.center-align{
  text-align: center;
}

// .tbHR{
//   border-radius: 2px;
//   background-color: $color-blue-default;
//   height: 3px;
//   width: 100%;
// }

//  //Removes pagination (prev/next) on the mat tab 
//  ::ng-deep .mat-tab-header-pagination {
//   display: none !important;
// }
// //Makes the tab header width roughly 50% of the toolbox (% doesnt work)
// ::ng-deep #mainReturnsL2box .mat-tab-label{
//   padding: 0 !important;
//   width:136px;
//   min-width: 0px !important;
// }
// <><><><><><><><><><><><><><><><><><><><><>
//<><><><><> TOOLBOX SETTINGS END <><<><><>