<div id="returnsDiv">
<h1 style="margin-top:50px">
  {{ RootReturns?.Client }}</h1>
<table id="" class="table clientTable table-striped table-bordered" cellspacing="0" width="100%">
  <thead class='clientTableHeader' style='text-decoration: underline;'>
    <tr>
      <th></th>
      <th>Client</th>
      <th>Mailed</th>
      <th>Caged</th>
      <th>Quantity</th>
      <th>Donors</th>
      <th>NonDonors</th>
      <th>NewDonors</th>
      <th>RSP</th>
      <th>AVG</th>
      <th>Gross</th>
      <th>Cost</th>
      <th>Net</th>
      <th>GPP</th>
      <th>CLM</th>
      <th>NLM</th>
      <th>IO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id='clientDropdownBtn' class='btnCol details-control btn btn-sm btn-primary glyphicon glyphicon-menu-hamburger'></td>      
      <td>{{ RootReturns?.Client }}</td>
      <td>{{ RootReturns?.Measure.Mailed | date: 'MM/dd/yy'}}</td>
      <td>{{ RootReturns?.Measure.Caged | date: 'MM/dd/yy' }}</td>
      <td>{{ RootReturns?.Measure.Quantity | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.Donors | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.NonDonors | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.NewDonors | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.RSP | percent:'1.2-2'}}</td>
      <td>{{ RootReturns?.Measure.AVG | number : '1.0-2' }}</td>
      <td>{{ RootReturns?.Measure.Gross | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.Cost | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.Net | number : '1.0-0' }}</td>
      <td>{{ RootReturns?.Measure.GPP | number : '1.0-2' }}</td>
      <td>{{ RootReturns?.Measure.CLM | number : '1.0-2' }}</td>
      <td>{{ RootReturns?.Measure.NLM | number : '1.0-2' }}</td>
      <td>{{ RootReturns?.Measure.IO | number : '1.0-2' }}</td>
    </tr>
  </tbody>
</table>
<app-mailtype-returns style="visibility: hidden" #myMailTypeChild [MailTypeList]="RootReturns?.MailTypeList"></app-mailtype-returns>
</div>