td.mdetails-control {
    background: url('../../resources/plus-solid.svg') no-repeat center center;
    background-color: green;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size:10pt;
}
tr.shown td.mdetails-control {
    background: url('../../resources/minus-solid.svg') no-repeat center center;
    background-color: red;
    border-radius: 5px;
    color:white;
    font-size:10pt;
}

.mailTypeTable{
    width:100%;

}

/*Handles visibility of parent row when a detail row of the datatable is expanded*/
.hideParentRow {
    visibility: collapse;
}

/*Removes thin gray border in between rows of table*/
.table > tbody > tr > td {
    border-top: none;
}

/* table.dataTable tbody td.no-padding {
    padding: 0;
} */

thead.mailTypeTableHeader th{
    border:none;

}

td, th{
    font-size:9pt;
}

.tableSmallColumns{
    width:60px;
    text-align:center !important;
}

.mailTypeColumn{
    width:90px;
    text-align:right;
}
