@import '~src/appTheme.scss'; 

.selectionElement{
    width:100%;
}

table {
    width: 96%;
    margin: 0 auto;
  }

  //Collectively control the row settings and cell settings (set the row height of all the tables)
.mat-row {
    &:hover{
        background: $color-blue-highlight;
    }
  }
  .mat-cell {
    border-bottom:none;
  }


  .ButtonControlCell{
    // padding-right: 12px !important;
    width: 52px !important;
    min-width: 52px !important;
  }