@import '~src/appTheme.scss'; 

.selectionElement{
    width:100%;
}

table {
    width: 96%;
    margin: 0 auto;
  }

  //Collectively control the row settings and cell settings (set the row height of all the tables)
.mat-row {
    &:hover{
        background: $color-blue-highlight;
    }
  }
  .mat-cell {
    border-bottom:none;
  }


//   .ButtonControlCell{
//     // padding-right: 12px !important;
//     width: 82px !important;
//     min-width: 82px !important;
//   }

  .collapseRow{
    visibility: collapse;
  } 

  .defaultRow{
//KEEP SO THAT VISIBILITY COLLAPSE WORKS
  }

  .controlColumn{
    width:80px;
    min-width:80px;
    border-bottom:none !important;
    border-top:none !important;  
}

  //Controls edit/cancel/submit
.controlColumnBtn{
    width:18px;
    height:18px;
    &#uploadBtn{
        margin-right:16px;
    }
    &:hover{
      color: $color-blue-dark;
    }
    i{
      padding: 0px 0px 18px 0px;
    }


}