<div (clickOutside)="closeToolbox()">

  <!--<><><> Main Toolbox <><><>-->
  <button title="Tools" (click)="toggle(1)" id="toolboxBtn" class="btn toolboxButtonCollection" [ngClass]="{
        'btnShifted': toolsOpened,
        'hidden': hide
      }">
      <i class="material-icons">{{toolsIcon}}</i>
    </button>
  <div class="toolbox" [ngClass]="{
        'shifted': toolsOpened
      }">
    <!--In order to not have two scrollbars you need to put the inner elements to scroll and the parent to not scroll-->
    <div class="toolboxScrollContainer" [ngStyle]="{'visibility': visibility}">
      <p> Insert client dropdown here</p>
      <p> Insert time range options here</p>
      <p>Insert expand/collapse all buttons here?</p>
      <p>Insert temproary exclude toggle button here</p>
      <p>Page reset</p>
    </div>
  </div>

  <!--<><><> L2 Toolbox <><><>-->
  <button title="Donor Demographics" (click)="toggle(2)" id="demoToolboxBtn" class="btn toolboxButtonCollection" [ngClass]="{
    'btnShifted': demoOpened,
    'hidden': hide
  }">
  <i class="material-icons">{{l2Icon}}</i>
</button>
  <div class="toolbox" [ngClass]="{
    'shifted': demoOpened
  }">
    <!--In order to not have two scrollbars you need to put the inner elements to scroll and the parent to not scroll-->
    <div class="toolboxScrollContainer" [ngStyle]="{'visibility': visibility}">
      
      <mat-tab-group color="accent" id="mainReturnsL2box" >
        <mat-tab class="test2" label="Mailed"> 
          <p>
            Donizzle doggy auctor maurizzle. Bling bling a tellivizzle izzle nibh pretizzle bizzle. Maecenizzle fo yippiyo. Bizzle fo shizzle my nizzle lacus shizzlin dizzle maurizzle elementum tristique. Nunc rizzle tortizzle sizzle shiznit yo porta. In velit fo shizzle, ultricizzle izzle, for sure quizzle, adipiscing quizzle, its fo rizzle. Etizzle my shizz leo, for sure that's the shizzle, pharetra nizzle, fo shizzle sizzle, turpis. Daahng dawg tellivizzle. Cras lorem. Cool vitae erat ut libero check it out adipiscing. Fusce ac crunk shizznit black ullamcorper brizzle.
          </p>
        </mat-tab>
        <mat-tab label="Donors">
          <p>
            Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
          </p>
          <p>
            Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>