$shiftWidth: 300px;
$shiftSpeed: 0.4s;
$shiftStyle: cubic-bezier(0.175, 0.885, 0.32, 1.1);

/*<><><><><><><><>*/
/*Button Settings Start*/
#toolboxBtn{
  top: 92px;
  border-radius:0 0 0 0.25rem !important;
}

#demoToolboxBtn{
  top: 124px;
  border-radius:0.25rem 0 0 0.25rem !important;
}

.toolboxButtonCollection{
  position:fixed;
  height:30px;
  width:40px;
  right:0px;
  z-index:110;
  // padding:5px 0px 4px 0px;
  transition: $shiftSpeed;
  transition-timing-function: $shiftStyle;
  &.btnShifted{
    display:flex;
    right: $shiftWidth;
    transition: $shiftSpeed;
    transition-timing-function: $shiftStyle;
  }
  i{
    font-size:20px;
    margin:auto;
  }
}
/*Button Settings End*/
/*<><><><><><><><>*/


.toolbox{
  border-top: 1px #f0f0f0 solid;
  background-color:#fff;
  position:fixed;
  top:92px;
  z-index:100;
  width:0;
  right:0px;
  height:100vh;
  overflow:hidden;
  transition: $shiftSpeed;
  transition-timing-function: $shiftStyle;
}
/*In order to not have two scrollbars you need to put the inner elements to scroll and the parent to not scroll*/
.toolboxScrollContainer{
  height:100%;
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar */
  padding-top:10px;
  padding-left:10px;
  overflow-y: scroll;
}
.psuedoClearfix {
  content: "";
  clear: both;
  display: table;
  height:100px;
  width:100%;
}

.toolbox.shifted{
  display: block;
  width: $shiftWidth;
  transition: $shiftSpeed;
  transition-timing-function: $shiftStyle;
  box-shadow: -8px 0px 8px -8px #686868;
}

.hidden{
  display: none;
}



 //Removes pagination (prev/next) on the mat tab 
 ::ng-deep .mat-tab-header-pagination {
  display: none !important;
}
//Makes the tab header width roughly 50% of the toolbox (% doesnt work)
::ng-deep #mainReturnsL2box .mat-tab-label{
  padding: 0 !important;
  width:136px;
  min-width: 0px !important;
}
