<div class="maillistdiv">
  <div class="slider">
    <div style="margin-left:10px;" class="row phaseHeaderRow">
      <div class="col-md-6 LphaseHeaderBox">
        <h6>{{Phase?.PhaseName}}</h6>
        <h6>{{Phase?.Title}}</h6>
      </div>
      <div class="col-md-6 RphaseHeaderBox">
        <h6>{{Phase?.Format}}</h6>
      </div>
    </div>
  <table class="maillistTable">
    <thead class='maillistTableHeader'>
      <tr>
        <th></th>
        <th>Code</th>
        <th></th>
        <th>Description</th>
        <th>Type</th>
        <th>Mailed</th>
        <th>Caged</th>
        <th>Quantity</th>
        <th>Donors</th>
        <th>Non</th>
        <th>New</th>
        <th>RSP</th>
        <th>AVG</th>
        <th>Gross</th>
        <th>Cost</th>
        <th>Net</th>
        <th>GPP</th>
        <th>CLM</th>
        <th>NLM</th>
        <th>IO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mail of MailList" [ngSwitch]="MailType">
        <td></td>
        <td>{{ mail?.MailCode }}</td>
        <th></th>
        <td *ngSwitchCase="'House'">{{mail?.MailDescription}}</td>
        <ng-container *ngSwitchCase="'Prospect'">
          <td *ngIf="mail?.ListOwner == '' || mail?.Manager == ''"><a>{{mail?.MailDescription}}</a></td>
          <td *ngIf="mail?.ListOwner != '' && mail?.Manager != ''"><a routerLink="/listperformance/{{mail?.ListOwner}}">{{ mail?.ListOwnerAbr }}/</a><a routerLink='/listperformance/{{mail?.ListOwner}}/{{mail?.ListManager}}'>{{ mail?.ListManagerAbr }} </a><a routerLink='/listperformance/{{mail?.ListOwner}}/{{mail?.ListManager}}/{{mail?.Recency}}'>{{ mail?.RecencyString }}</a></td>
        </ng-container>
        <td *ngSwitchCase="'Thank You'">{{mail?.MailDescription}}</td>
        <td *ngSwitchCase="'Undetermined'">{{mail?.MailDescription}}</td>
        <td>{{ mail?.ExchangeFlag }}</td>
        <td>{{ mail?.Measure.Mailed | date: 'MM/dd/yy'}}</td>
        <td>{{ mail?.Measure.Caged | date: 'MM/dd/yy' }}</td>
        <td>{{ mail?.Measure.Quantity | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.Donors | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.NonDonors | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.NewDonors | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.RSP | percent:'1.2-2'}}</td>
        <td>{{ mail?.Measure.AVG | number : '1.0-2' }}</td>
        <td>{{ mail?.Measure.Gross | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.Cost | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.Net | number : '1.0-0' }}</td>
        <td>{{ mail?.Measure.GPP | number : '1.0-2' }}</td>
        <td>{{ mail?.Measure.CLM | number : '1.0-2' }}</td>
        <td>{{ mail?.Measure.NLM | number : '1.0-2' }}</td>
        <td>{{ mail?.Measure.IO | number : '1.0-2' }}</td>
      </tr>
    </tbody>
    <tfoot class='phaseTableFooter'>
      <tr>
        <td class="phaseTotalFooterIndicator" colspan="5">TOTAL {{ Phase?.PhaseName | uppercase }}</td>
        <td>{{ Phase?.Measure.Mailed | date: 'MM/dd/yy'}}</td>
        <td>{{ Phase?.Measure.Caged | date: 'MM/dd/yy' }}</td>
        <td>{{ Phase?.Measure.Quantity | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.Donors | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.NonDonors | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.NewDonors | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.RSP | percent:'1.2-2'}}</td>
        <td>{{ Phase?.Measure.AVG | number : '1.0-2' }}</td>
        <td>{{ Phase?.Measure.Gross | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.Cost | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.Net | number : '1.0-0' }}</td>
        <td>{{ Phase?.Measure.GPP | number : '1.0-2' }}</td>
        <td>{{ Phase?.Measure.CLM | number : '1.0-2' }}</td>
        <td>{{ Phase?.Measure.NLM | number : '1.0-2' }}</td>
        <td>{{ Phase?.Measure.IO | number : '1.0-2' }}</td>
      </tr>
      <!-- <tr class="pseudoFooterMargin" style="background-color:lightcoral; height:50px;">
        <td colspan="20"></td>
      </tr> -->
    </tfoot>
  </table>
  </div>
</div>
