a{
    text-decoration: underline;
}

td, th{
    font-size:9pt;
}

.maillistTable{
    width:100%;
}

.mailcodeColumn{
    width:90px;
    text-align:right;
}

.listTypeColumn{
    width:35px;
    text-align:center; 
}

.tableSmallColumns{
    width:60px;
    text-align:center;
}

