@import '~src/appTheme.scss'; 

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

  .expBtnColumn{
    width: 55px;
    min-width: 55px;
    padding: 0 !important;
    border-bottom:none !important;
    border-top:none !important;
  }


.totalsBox{
    p{
        font-weight: bold;
    }
}

.loading{
    opacity: 0.4;
    pointer-events:none;
}

.loaded{
    opacity: 1.0;
    pointer-events: all;
}

.clientDropdown{
    width: 100%;
}

.defaultButton{
    background-color: $color-blue-default;
    color: $color-white !important;
    i{
        font-size: 20pt;
    }
    &#timeResetBtn{
        margin-left: 20px;
    }

}

#timeHeader{
    text-align: center;
}

//Controls styling for the year/month/day button toggle group
.timeSelectionGroup{
    .mat-button-toggle {
        background-color: $color-blue-default;
        color: $color-white;
    }

    .mat-button-toggle-checked {
        background-color: $color-blue-dark;
        color: $color-white;
    }
}
::ng-deep button.mat-button-toggle-button{
    padding: 2px;
    div{
        line-height: 2.25 !important;
        font-size: 14px;
        font-weight: 500;
    }
}
//////////////////////////////////


//Controls styling for left and right time travel buttons
::ng-deep #leftTravelBtn{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-left: 2px !important;
    padding-right: 6px !important;
    width: 35px !important;
    min-width: 35px;
}
::ng-deep #rightTravelBtn{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 6px !important;
    padding-right: 2px !important;
    width: 35px !important;
    min-width: 35px;
}
//////////////////////////////////////////


::ng-deep #yearBtn{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

::ng-deep #monthBtn{
    border-radius: 0 !important;
}

//Changes the datepicker styling on the day view portion of the calendar
::ng-deep .mat-form-field-infix{
    width: 0 !important;
}

.btnRow{
    margin-bottom: 2px;
}

.boxOnYearCal{
    border: 1px solid $color-silver;
    padding-top: 10px;
    padding-bottom: 15px;
    &:hover{
        cursor: pointer;
    }
}

.dayBox{
    .col-12{
        text-align: right;
        font-weight: bold;
        padding-bottom: 14px;
    }
}

.weekBox{
    .col-12{
        text-align: center;
        font-weight: bold;
        padding-bottom: 14px;
    }
}

.monthBox{
    .col-12{
        text-align: right;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.quarterBox{
    .col-12{
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.headerBox{
    // border: 1px solid $color-silver;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    div{
        font-weight: bold;
        text-align: center;
        background-color: $color-gainsboro;
    }
}

.calendarBox{
    border: 1px solid $color-gainsboro;
    border-radius: 0px 0px 4px 4px;
}

.calendarContainer{
    border-radius: 4px;
}

.groupElementSelected{
    // background-color: rgba(92,184,92, 0.4);
    background-color: rgba(18,121,192, 0.5);
}

.groupElementDefault{
    background-color: $color-gallery;
}

.elementSelected{
    // background-color: rgba(92,184,92, 0.3);
    background-color: rgba(18,121,192, 0.25);
}

.elementDefault{
    background-color: $color-white;
}

.elementEmpty{
    // background-color: rgba(255,193,7, 0.2);
    background-color: $color-white;
    div.row.selectableHeader{
        opacity: 0.75;
    }
    div.row.elemValue{
        opacity: 0.25;
    }
}


.boxOnMonthCal{
    border: 1px solid $color-silver;
    padding-top: 8px;
    padding-bottom: 10px;
    &:hover{
        cursor: pointer;
    }
    div{
        div{
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }
}

.inactive{
    // background-color: rgba(255,223,199,0.9);    
    // opacity: 0.60;
    background-color: $color-whitesmoke;
    div{
        opacity: 0.5;
    }
}

.inactiveRow{
    display: none !important;
}

.selectable {
    cursor: pointer !important;
    .selectableHeader{
        color: $color-blue-dark;
    }
}

.unselectable {
    cursor: text !important;
}

.grossTravel{
    color: $color-blue-dark;
    &:hover{
        text-decoration: underline;
        text-decoration-color: $color-blue-dark;
    }
}



/////////// STYLING FOR TABLE ////////
#table2{
    width: 100%;
    margin: 0 auto;
    th{
        font-size: 12px !important;
    }
    td{
        font-size: 11px;
        &.mat-cell{
          padding: 0 !important;
        }
        &.mat-footer-cell{
            font-weight: bold;
            border-bottom:none;
            border-top: 1px solid $color-gainsboro;
            
          }
    }
  }
  
  #table3{
    width: 100%;
    margin: 0 auto !important;
    th{
        font-size: 12px !important;
    }
    td{
        font-size: 11px;
        &.mat-cell{
          padding-top: 4px !important;
          padding-bottom: 4px !important;
        }
        &.mat-footer-cell{
            font-weight: bold;
            border-bottom:none;
            border-top: 1px solid $color-gainsboro;
            
          }
    }
  }

  .mailLevelColumn{
    width:120px !important;
    min-width: 120px !important; //FF and IE
    max-width: 120px !important;
    overflow: visible; //so that it does not expand td
    white-space: nowrap; //so that it does not wrap the text
    &.mailcodeCell{ // so word wrap is applied specifically to the mail code cell (which is bound by a much tighter space)
        word-break: break-all !important;
        white-space: normal;
        padding-right: 4px;
    }
  }
  
  //Controls child view initial settings
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  //Removes padding from all nested tables
  ::ng-deep table > tbody > tr > td.cdk-column-expandedDetail.mat-column-expandedDetail{
    padding: 0 !important;
  }

  .mat-row {
    height: auto;
  }
  .mat-cell {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-bottom:none;
    text-align: center;
  }      
.mat-header-cell{
    text-align: center;
}

.mat-footer-cell{
    text-align: center;
    padding-top: 6px;
}
tr.mat-header-row{
    height:auto;
  }
  th.mat-header-cell{
    padding:0;
  }
  tr.mat-footer-row{
    height:auto; //row height in mat tables is required to be manually controlled by each cell    
}

.rowCollapsed{
    display: none;
  }

  .rowExpanded{
    display: inline;
  }











//Sets up font styling resize on year calendar boxes
@media only screen and (max-width: $size-xs){
    .quarterBox, .monthBox{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
}

@media only screen and (min-width: $size-xs){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
}

@media only screen and (min-width: $size-sm){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
}

//Goes horizontal 
@media only screen and (min-width: $size-md){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 9pt;
            }
            div.col-12{
                font-size: 10pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
}

@media only screen and (min-width: $size-lg){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 11pt;
            }
            div.col-12{
                font-size: 12pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 8pt;
            }
            div.col-12{
                font-size: 9pt;
            }
        }
    }
}

 




