@import '~src/appTheme.scss'; 


//////////////////// SETTINGS FOR ENTIRE PAGE OR ACROSS TIME VIEWS ////////////////
.buttonArray{
    font-size: 11px;
}

.totalsBox{
    p{
        font-weight: bold;
    }
}

.loading{
    opacity: 0.4;
    pointer-events:none;
}

.loaded{
    opacity: 1.0;
    pointer-events: all;
}

.clientDropdown{
    width: 100%;
}

.timeSelectionDiv{
    margin-left: 20px;
    display: inline;
    top: 0;
}

.defaultButton{
    background-color: $color-blue-default;
    color: $color-white !important;
    display: inline;
    i{
        font-size: 20pt;
    }
}

.yearTravelBtn{
    display: inline;
    i{
        font-size: 20pt;
    }
}


#timeHeader{
    text-align: center;
}

//Controls styling for the year/month/day button toggle group
.timeSelectionGroup{
    .mat-button-toggle {
        background-color: $color-blue-default;
        color: $color-white;
    }

    .mat-button-toggle-checked {
        background-color: $color-blue-dark;
        color: $color-white;
    }
}
::ng-deep button.mat-button-toggle-button{
    padding: 2px;
    div{
        line-height: 2.25 !important;
        font-size: 14px;
        font-weight: 500;
    }
}

//Controls styling for left and right time travel buttons
::ng-deep #leftTravelBtn{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-left: 2px !important;
    padding-right: 6px !important;
    width: 35px !important;
    min-width: 35px;
}
::ng-deep #rightTravelBtn{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 6px !important;
    padding-right: 2px !important;
    width: 35px !important;
    min-width: 35px;
}

//Styling for that contains all of the button controls of calendar
.calendarToolsRow{
    margin-bottom: 2px;
}

//Settings for calendar header row (say month# or day of the week)
.headerBox{
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    div{
        font-weight: bold;
        text-align: center;
        background-color: $color-gainsboro;
    }
}

.calendarContainer{
    border-radius: 4px;
}

.groupElementSelected{
    background-color: rgba(18,121,192, 0.5);
}

.groupElementDefault{
    background-color: $color-gallery;
}

.elementSelected{
    background-color: rgba(18,121,192, 0.25);
}

.elementDefault{
    background-color: $color-white;
}

.elementEmpty{
    background-color: $color-white;
    div.row.selectableHeader{
        opacity: 0.75;
    }
    div.row.elemValue{
        opacity: 0.25;
    }
}

//Settings for styling if the element only has zero values
.selectable {
    cursor: pointer !important;
    .selectableHeader{
        color: $color-blue-dark;
    }
}
.unselectable {
    cursor: text !important;
}

//Settings for the "hyperlink" that allows you to travel to the other views via gross
.grossTravel{
    color: $color-blue-dark;
    &:hover{
        text-decoration: underline;
        text-decoration-color: $color-blue-dark;
    }
}



///////////////////// SETTINGS FOR YEAR VIEW //////////////////
::ng-deep #yearBtn{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

//Controls styling found in both the month and quarter boxes on the year calendar
.boxOnYearCal{
    border: 1px solid $color-silver;
    padding-top: 10px;
    padding-bottom: 15px;
    &:hover{
        cursor: pointer;
    }
}

.monthBox{
    .col-12{
        text-align: right;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.quarterBox{
    .col-12{
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.yvCalendarBox{
    border: 1px solid $color-gainsboro;
    border-radius: 0px 0px 4px 4px;
}




/////////////////////////// SETTINGS FOR MONTH VIEW //////////////////////
::ng-deep #monthBtn{
    border-radius: 0 !important;
}

//Controls styling of the day boxes on the month calendar
.dayBox{
    .col-12{
        text-align: right;
        font-weight: bold;
        padding-bottom: 14px;
    }
}

//Controls styling of the week box on the month calendar
.weekBox{
    .col-12{
        text-align: center;
        font-weight: bold;
        padding-bottom: 14px;
    }
}

//Controls styling found on both week and day boxes on the month calendar
.boxOnMonthCal{
    border: 1px solid $color-silver;
    padding-top: 8px;
    padding-bottom: 10px;
    &:hover{
        cursor: pointer;
    }
    div{
        div{
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }
}

//Settings for if a day is inactive (i.e. there are no days that week found in the current month)
.inactive{
    background-color: $color-whitesmoke;
    div{
        opacity: 0.5;
    }
}

//Is applied if the entire row is inactive (only found on row 6 of the month calendar, where it could have 7 days that are all the next month)
.inactiveRow{
    display: none !important;
}




/////////////////// SETTINGS FOR DAY VIEW (TABLE HAS ITS OWN SECTION BELOW) //////////////
//Changes the datepicker styling on the day view portion of the calendar
::ng-deep .mat-form-field-infix{
    width: 0 !important;
}

//Controls settings on day view date picker
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
} 
.example-month-picker .mat-calendar-arrow {
    display: none;
}

.stickyButtons{
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    top: 100px !important;
    z-index: 120;
}




/////////////////// SETTINGS FOR DAY VIEW CONFIRMATION MODALS ///////////////////////
#modalBackground{
    position: fixed;
    top: 92px;
    z-index: 130;
    width: 100%;
    height:100%;
    background-color: rgba(128, 128, 128, 0.5); //gives transparent, cannot use opacity due to inheritance
}

.deleteModalCard{
    position: relative;
    top: 25%;
    z-index: 140;
    div{
        text-align: center;
        i{
            font-size: 1000%;
            color: $color-warn;
        }
    }
}

#deleteMessage1{
    font-size: 22pt;
}

.btnContainer{
    text-align: center; //Buttons are inline elements, so this is how you center inside a div
    margin-top: 15px;
        #cancelBtn{
            background-color: $color-gallery;
            margin-right: 10px;
        }
        #deleteBtn{
            color: white;
            background-color: $color-warn;
            margin-left: 10px;
        }
}




///////////////////////// STYLING FOR TABLES ON DAY VIEW ////////////////////////
#clientParentTable{
    width: 100%;
    margin: 0 auto;
    th{
        font-size: 12px !important;
    }
    td{
        font-size: 11px;
        &.mat-cell{
          padding: 0 !important;
        }
        &.mat-footer-cell{
            font-weight: bold;
            border-bottom:none;
            border-top: 1px solid $color-gainsboro;
            
          }
    }
}
  
#mailcodeChildTable{
    width: 100%;
    margin: 0 auto !important;
    th{
        font-size: 12px !important;
    }
    td{
        font-size: 11px;
        &.mat-cell{
          padding-top: 4px !important;
          padding-bottom: 4px !important;
        }
        &.mat-footer-cell{
            font-weight: bold;
            border-bottom:none;
            border-top: 1px solid $color-gainsboro;
            
          }
    }
}

.mailLevelColumn{
    width:120px !important;
    min-width: 120px !important; //FF and IE
    max-width: 120px !important;
    overflow: visible; //so that it does not expand td
    white-space: nowrap; //so that it does not wrap the text
    &.mailcodeCell{ // so word wrap is applied specifically to the mail code cell (which is bound by a much tighter space)
        word-break: break-all !important;
        white-space: normal;
        padding-right: 4px;
    }
}

.expandBtnColumn{
    width: 55px;
    min-width: 55px;
    height: 40px !important;
    padding: 0 !important;
    border-bottom:none !important;
    border-top:none !important;
}

.controlColumn{
    width:70px;
    min-width:70px;
    border-bottom:none !important;
    border-top:none !important;  
}

//Controls edit/cancel/submit
.controlColumnBtn{
    width:20px;
    height:20px;
    margin-right: 8px;
    &:hover{
      color: $color-blue-dark;
    }
    i{
      padding: 0px 0px 10px 0px;
    }
}

//Settings for input boxes while editing
.elementInput{
    width:75%;
    display:flex;
    margin: 0 auto;
    background-color: $color-gallery;
    input{
        text-align:center;
    }
    span{
        padding-bottom:2px;
    }
}
  
//Controls child view initial settings
.example-element-detail {
    overflow: hidden;
    display: flex;
}

//Removes padding from all nested tables
::ng-deep table > tbody > tr > td.cdk-column-expandedDetail.mat-column-expandedDetail{
    padding: 0 !important;
}

.mat-row {
    height: auto;
}

.mat-cell {
    border-bottom:none;
    text-align: center;
}  

.mat-header-cell{
    text-align: center;
}

.mat-footer-cell{
    text-align: center;
    padding-top: 6px;
}

tr.mat-header-row{
    height:auto;
}

th.mat-header-cell{
    padding:0;
}

tr.mat-footer-row{
    height:auto; //row height in mat tables is required to be manually controlled by each cell    
}

.rowCollapsed{
    display: none;
}

.rowExpanded{
    display: inline;
}

.mat-row.childRow {
    &:hover{
        background: $color-blue-highlight;
    }
}




//////////////////////////////// STYLING FOR RESIZING ///////////////////////////////
@media only screen and (max-width: $size-xs){
    .quarterBox, .monthBox{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
}

@media only screen and (min-width: $size-xs){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 6pt;
            }
            div.col-12{
                font-size: 7pt;
            }
        }
    }
}

@media only screen and (min-width: $size-sm){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
}

//Goes horizontal 
@media only screen and (min-width: $size-md){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 9pt;
            }
            div.col-12{
                font-size: 10pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 7pt;
            }
            div.col-12{
                font-size: 8pt;
            }
        }
    }
}

@media only screen and (min-width: $size-lg){
    .quarterBox, .monthBox{
        div{
            div.col-6{
                font-size: 11pt;
            }
            div.col-12{
                font-size: 12pt;
            }
        }
    }
    .boxOnMonthCal{
        div{
            div.col-md-6{
                font-size: 8pt;
            }
            div.col-12{
                font-size: 9pt;
            }
        }
    }
}

 




