<app-toolbar></app-toolbar>
<br>

<div class="container">
  <mat-card class="mat-elevation-z8">
    <br>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Client</mat-label>
          <input required aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="whitemailElement.Client">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of filteredClientList | async" [value]="client">
              {{client}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix class="dropdownIcon">arrow_drop_down</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <!-- Set the "value" (aka the starting value via the ngModel. Using the ngModel because that way it also updates the whitemailElement object-->
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Donation Date</mat-label>
          <input required matInput [matDatepicker]="DonationDatePick" (dateInput)="changeDate($event)" [(ngModel)]="whitemailElement.DonationDate">
          <mat-datepicker-toggle matSuffix [for]="DonationDatePick"></mat-datepicker-toggle>
          <mat-datepicker #DonationDatePick>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <!-- Set the "value" (aka the starting value via the ngModel. Using the ngModel because that way it also updates the whitemailElement object-->
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Cage Date</mat-label>
          <input required matInput [matDatepicker]="CageDatePick" (dateInput)="changeDate($event)" [(ngModel)]="whitemailElement.DateCaged">
          <mat-datepicker-toggle matSuffix [for]="CageDatePick"></mat-datepicker-toggle>
          <mat-datepicker #CageDatePick>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-2">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Non-Donors</mat-label>
          <input matInput placeholder="Non-donors" [(ngModel)]="whitemailElement.NonDonors" (blur)="updateTotal()">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Cash Donors</mat-label>
              <input matInput [(ngModel)]="whitemailElement.CashDonors" (blur)="updateTotal()">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Cash Amount</mat-label>
              <span matPrefix>$</span>
              <input matInput [(ngModel)]="whitemailElement.CashAmount" (blur)="updateTotal()">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Card Donors</mat-label>
              <input matInput [(ngModel)]="whitemailElement.CardDonors" (blur)="updateTotal()">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Card Amount</mat-label>
              <span matPrefix>$</span>
              <input matInput [(ngModel)]="whitemailElement.CardAmount" (blur)="updateTotal()">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Check Donors</mat-label>
              <input matInput [(ngModel)]="whitemailElement.CheckDonors" (blur)="updateTotal()">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="mainInputBox">
              <mat-label>Check Amount</mat-label>
              <span matPrefix>$</span>
              <input matInput [(ngModel)]="whitemailElement.CheckAmount" (blur)="updateTotal()">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <br>
    <div class="row totalsBox justify-content-center">
      <div class="col-lg-4 col-md-6">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Total Donors</mat-label>
          <input disabled matInput [value]="this.whitemailElement.TotalDonors">
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-6">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Total Gross</mat-label>
          <input disabled matInput [value]="this.whitemailElement.TotalGross|currency:'USD':'symbol':'1.2-2'">
        </mat-form-field>
      </div>
    </div>
    <br>
    <hr style="width: 90%;">

    <div class="row">
      <div class="col-lg-7">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Source</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Entered By</mat-label>
          <input matInput disabled [value]="whitemailElement.EnteredBy">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Entered Date</mat-label>
          <input matInput disabled [value]="whitemailElement.EnteredDate|date:'shortDate'">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Modified By</mat-label>
          <input matInput disabled [value]="whitemailElement.ModifiedBy">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="mainInputBox">
          <mat-label>Modified Date</mat-label>
          <input matInput disabled [value]="whitemailElement.ModifiedDate|date:'shortDate'">
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-12 btnContainer">
        <button mat-raised-button class="mat-elevation-z2" id="cancelBtn" (click)="Cancel()">Cancel</button>
        <button mat-raised-button class="mat-elevation-z4" id="updateBtn" (click)="Update()">Update</button>
      </div>
    </div>
    <br>
  </mat-card>
</div>


<div id="modalBackground" *ngIf="showSubmittedModal">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="mat-elevation-z8 deleteModalCard">
          <div>
            <div class="row">
              <div class="col-12 cancelDiv">
                <button mat-icon-button id="modalCancelBtn" (click)="modalCancel()"><i class="material-icons">cancel</i></button>

              </div>
              <div class="col-12 bannerDiv">
                <i class="material-icons bannerIcon">check_circle_outline</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12 updatedDiv">
                <span class="updatedMsg">Whitemail Updated!</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>