@import '~@angular/material/theming';
@include mat-core();

// <><><><><><><><><><><><><><><><><><><><><>
// <><><> Variables across website start <><><>
// ***To implement, add to the top of CSS files: @import '~src/appTheme.scss';
// <><><><><><><><><><><><><><><><><><><><><>
$color-white: #FFF;
$color-whitesmoke: #F8F8F8; //body background
$color-gallery: #F0F0F0; //some buttons native background
$color-gainsboro: #D3D3D3; //introduced as the gray color for material element text
$color-silver: 	#C0C0C0;
$color-gray: #808080; //used on scroll buttons of toolbar
$color-dovegray: #686868; //box shadows

$color-shark: #212529; //boostrap/native black for text
$color-mineshaft: #333; //navigation bar
$color-blue-default: #1279C0;
$color-blue-highlight: #e3eff7;
$color-blue-light: #59a1d3;
$color-blue-dark: #0a5caa;

$color-warn: #ea4040; //rgb(255,223,199)
$color-very-pale-orange: #ffdfc7;
$color-bootstrap-yellow: #ffc107; //rgb(255,193,7)
$color-orange: #f0ad4e; //rgb(240,173,78)
$color-success: #5cb85c; //rgb(92,184,92)

//Changes size of the material design checkbox (default hw is 20x20) to a medium size checkbox
//Apply "md-checkbox" as a class on the mat-checkbox element
.md-checkbox{
    label{
        margin-bottom: 0px;
        div.mat-checkbox-inner-container {
            height: 15px !important;
            width: 15px !important;
            div.mat-checkbox-ripple.mat-ripple{
                left: calc(50% - 16px);
                top: calc(50% - 16px);
                border-radius: 50%;
                z-index: 1000 !important; //ripple was hiding behind rows above it in table
                height: 30px !important;
                width: 30px !important;
            }
          }
    }
}

//Sets the styling of the material option boxes to fit our style (no ellipses, smaller font for longer clients, etc)
.md-custom-option{
    font-size:10pt;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.6;
    height: unset !important;
    padding-top: 8px;
    padding-bottom: 8px;
      span{
        overflow: visible !important;
        height: 100%;
      }
  }

$material-box-shadow-default:0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
$material-box-shadow-pressed:0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);

$size-lg: 1200px;
$size-md: 992px;
$size-sm: 768px;
$size-xs: 576px;

$shiftWidth:300px;
$shiftSpeed: 0.4s;
$shiftStyle: cubic-bezier(0.175, 0.885, 0.32, 1.1);


@mixin toolboxBase{
    border-top: 1px $color-gallery solid;
    background-color:$color-white;
    position:fixed;
    top:92px;
    z-index:100;
    width:0;
    right:0px;
    height:100vh;
    overflow:hidden;
    transition: $shiftSpeed;
    transition-timing-function: $shiftStyle;
}
/*In order to not have two scrollbars you need to put the inner elements to scroll and the parent to not scroll*/
@mixin toolboxScrolling{
    height:100%;
    margin-right: -50px; /* maximum width of scrollbar */
    padding-right: 50px; /* maximum width of scrollbar */
    padding-top:10px;
    padding-left:10px;
    overflow-y: scroll;
}
@mixin toolboxClearfix{
    content: "";
    clear: both;
    display: table;
    height:100px;
    width:100%;
}
@mixin toolboxShifted{
    display: block;
    width: $shiftWidth;
    transition: $shiftSpeed;
    transition-timing-function: $shiftStyle;
    box-shadow: -8px 0px 8px -8px $color-dovegray;
}
@mixin toolboxBtnCollMain{
    position:fixed;
    height:30px;
    width:40px;
    right:0px;
    z-index:110;
    transition: $shiftSpeed;
    transition-timing-function: $shiftStyle;
}
 @mixin toolboxBtnCollShifted{
      display:flex;
      right: $shiftWidth;
      transition: $shiftSpeed;
      transition-timing-function: $shiftStyle;
}
@mixin clearfix{
    content: "";
    clear: both;
    display: table;
}


// Loading spinner styling
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }


//<><><> Material Icon's (mi) Converted to Classes <><><>
  .mi_expand_less::after{
    content: "expand_less";
  }

  .mi_expand_more::after{
    content: "expand_more";
  }

  .mi_unfold_less::after{
    content: "unfold_less";
  }

  .mi_unfold_more::after{
    content: "unfold_more";
  }

  .mi_chevron_right::after{
      content: "chevron_right";
  }

  .mi_chevron_left::after{
      content: "chevron_left";
  }

  .mi_menu::after{
    content: "menu";
  }

  .mi_calendar_view_day::after{
      content: "calendar_view_day";
  }

  .mi_horizontal_split::after{
      content: "horizontal_split";
  }

  .mi_line_weight::after{
      content: "line_weight";
  }

  .mi_reorder::after{
      content: "reorder";
  }

  .mi_sort::after{
      content: "sort";
  }

  .mi_drag_handle::after{
      content: "drag_handle";
  }

  .mi_filter_list::after{
      content: "filter_list";
  }

  .mi_arrow_drop_up::after{
      content: "arrow_drop_up";
  }

  .mi_arrow_drop_down::after{
      content: "arrow_drop_down";
  }

  .mi_arrow_left::after{
      content: "arrow_left";
  }

  .mi_arrow_right::after{
      content: "arrow_right";
  }

  .mi_clear_all::after{
      content: "clear_all";
  }

  .mi_list::after{
      content: "list";
  }

  .mi_format_line_spacing::after{
      content: "format_line_spacing";
  }

  .mi_more_vertical::after{
      content: "more_vertical";
  }

  .mi_assessment::after{
      content: "assessment";
  }

  .mi_arrow_forward_ios::after{
      content: "arrow_forward_ios";
  }

  .mi_settings::after{
    content: "settings";
  }

  .mi_group::after{
    content: "group";
  }

  .mi_add_box::after{
      content: "add_box";
  }


  //Creating custom image that can be used as a class
  .custom_line_weight_icon{
    display: inline-block;
    background: url(/assets/Editing-Line-Width-icon.png) center center no-repeat;
    background-size: contain;
    width: 90%;
    height: 70%;
    margin-bottom: 7px !important;
    opacity: 0.9;
}

// <><><><><><><><><><><><><><><><><><><><><>
// <><><> Variables across website End <><><>
// <><><><><><><><><><><><><><><><><><><><><>




// <><> Material Theme Start <><>
// <><><><><><><><><><><><><><><>
$my-custom-primary-palette: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #525252,
    500 : #333333,
    600 : #2e2e2e,
    700 : #272727,
    800 : #202020,
    900 : #141414,
    A100 : #ef6e6e,
    A200 : #ea4040,
    A400 : #f60000,
    A700 : #dd0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

  $my-custom-accent-palette: (
    50 : #e3eff7,
    100 : #b8d7ec,
    200 : #89bce0,
    300 : #59a1d3,
    400 : #368dc9,
    500 : #1279c0,
    600 : #1071ba,
    700 : #0d66b2,
    800 : #0a5caa,
    900 : #05499c,
    A100 : #c8ddff,
    A200 : #95beff,
    A400 : #629fff,
    A700 : #4890ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$my-theme-primary: mat-palette($my-custom-primary-palette);
$my-theme-accent: mat-palette($my-custom-accent-palette);
// $my-app-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);
@include angular-material-theme($my-theme);
// <><><><><><><><><><><><><><><>
// <><> Material Theme END <><>

