td.details-control, td.mdetails-control, td.cdetails-control, td.pdetails-control {
    background: url('../../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control,tr.shown td.mdetails-control,tr.shown td.cdetails-control,tr.shown td.pdetails-control {
    background: url('../../resources/details_close.png') no-repeat center center;
}

/*Handles visibility of parent row when a detail row of the datatable is expanded*/
.hideParentRow {
    visibility: collapse;
}