td.pdetails-control {
    background: url('../../resources/plus-solid.svg') no-repeat center center;
    cursor: pointer;
    font-size:10pt;
}
tr.shown td.pdetails-control {
    background: url('../../resources/minus-solid.svg') no-repeat center center;
    font-size:10pt;
}

/*Handles visibility of parent row when a detail row of the datatable is expanded*/
.hideParentRow {
    visibility: collapse;
}

td{
    font-size:9pt;
}