<div id="campaignDiv" class="slider">
    <table class="table campaignTable table-striped table-bordered" cellspacing="0" width="100%">
      <thead class='campaignTableHeader' style='text-decoration: underline;'>
        <tr>
            <th></th>
            <th>Campaign</th>
            <th>Mailed</th>
            <th>Caged</th>
            <th>Quantity</th>
            <th>Donors</th>
            <th>NonDonors</th>
            <th>NewDonors</th>
            <th>RSP</th>
            <th>AVG</th>
            <th>Gross</th>
            <th>Cost</th>
            <th>Net</th>
            <th>GPP</th>
            <th>CLM</th>
            <th>NLM</th>
            <th>IO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campaign of CampaignList">
          <td id='campaignDropdownBtn' class='btnCol details-control btn btn-sm btn-primary glyphicon glyphicon-menu-hamburger'>
             <!-- <app-campaign-returns style="visibility: hidden" myCampaignChild [CampaignList]="mailType.CampaignList" [MailType]="mailType"></app-mailtype-returns>  -->
          </td>
          <td>{{ campaign?.CampaignName }}</td>
          <td>{{ campaign?.Measure.Mailed | date: 'MM/dd/yy'}}</td>
          <td>{{ campaign?.Measure.Caged | date: 'MM/dd/yy' }}</td>
          <td>{{ campaign?.Measure.Quantity | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.Donors | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.NonDonors | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.NewDonors | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.RSP | percent:'1.2-2'}}</td>
          <td>{{ campaign?.Measure.AVG | number : '1.0-2' }}</td>
          <td>{{ campaign?.Measure.Gross | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.Cost | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.Net | number : '1.0-0' }}</td>
          <td>{{ campaign?.Measure.GPP | number : '1.0-2' }}</td>
          <td>{{ campaign?.Measure.CLM | number : '1.0-2' }}</td>
          <td>{{ campaign?.Measure.NLM | number : '1.0-2' }}</td>
          <td>{{ campaign?.Measure.IO | number : '1.0-2' }}</td>
        </tr>
      </tbody>
      <tfoot class='mailTypeTableFooter'>
          <tr>        
            <td colspan="2">{{ MailType?.MailType | uppercase }}</td>
            <td>{{ MailType?.Measure.Mailed | date: 'MM/dd/yy'}}</td>
            <td>{{ MailType?.Measure.Caged | date: 'MM/dd/yy' }}</td>
            <td>{{ MailType?.Measure.Quantity | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.Donors | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.NonDonors | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.NewDonors | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.RSP | percent:'1.2-2'}}</td>
            <td>{{ MailType?.Measure.AVG | number : '1.0-2' }}</td>
            <td>{{ MailType?.Measure.Gross | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.Cost | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.Net | number : '1.0-0' }}</td>
            <td>{{ MailType?.Measure.GPP | number : '1.0-2' }}</td>
            <td>{{ MailType?.Measure.CLM | number : '1.0-2' }}</td>
            <td>{{ MailType?.Measure.NLM | number : '1.0-2' }}</td>
            <td>{{ MailType?.Measure.IO | number : '1.0-2' }}</td>
          </tr>
        </tfoot>  
    </table>
    </div>